node_modules
npm-debug.log
Dockerfile*
docker-compose*
.git
.gitignore
dist
coverage
.env
.env.*
.idea
.vscode
*.swp
*.swo
*.swn
*.bak
*.tmp
package-lock.json
yarn.lock
pnpm-lock.yaml
build
.npm
.DS_Store
Thumbs.db
.history
*.tsbuildinfo 